/* PAGINA 404 */

#erro404-div {
  margin: auto;
  width: 641px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

#erro404-div h1 {
  margin-bottom: 0;
  font-family: "outfit";
  font-size: 96px;
  line-height: 105.6px;
  color: #6729ff;
}

#erro404-div p {
  font-family: "poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #64748b;
}

#image404 {
  margin: auto;
  background-size: cover;
  height: 256px;
  width: 256px;
  background-image: url(../img/broken-card.png);
  margin-bottom: 0;
  padding: 0;
}
