body {
  margin: 0;
}
div {
  margin: 0;
}

button:hover{
  cursor: pointer;
}

/* menu */
.menu-container {
  margin: 0px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  border-bottom: 1px solid #e2e8f0;
  height: 30px;
  justify-content: space-around;
  padding: 16px 0px;
  background-color: #fff;
}

/* logo */
#menu-logo a {
  text-decoration: none;
  font-weight: 700;
  margin: 0;
  font-family: "outfit", sans-serif;
  color: #6729ff;
  font-size: 24px;
  line-height: 24px;
}

/* links */
.btn {
  font-family: "poppins";
  text-decoration: none;
  color: #94a3b8;
  background-color: #fff;
  height: 24px;
  padding: 6px 12px;
  border-radius: 8px;
}

.btn:hover{
  transition: 0.5s;
  color: #6729ff;
  position: relative;
  top: -2px;
}

.menu-cadastro-login a {
  text-decoration: none;
  padding: 12px 32px;
  font-family: "poppins";
  border-radius: 8px;
}

/* botão de cadastro */
#button-cadastro {
  background-color: #fff;
  color: #94a3b8;
  border: 2px solid transparent;
}

#button-cadastro:hover {
  transition: 0.5s;
  border-color: #6729ff;
  background-color: #eee5ff;
  color: #6729ff;
}

/* botão fazer login */
#button-login {
  background-color: #6729ff;
  color: #fff;
  border: 2px solid transparent;
}

#button-login:hover {
  transition: 0.5s;
  border-color: #6729ff;
  background-color: #eee5ff;
  color: #6729ff;
}



/* layout 5 */
#container5 {
  background-image: url(../img/Rectangle\ 3603.png);
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  text-align: center;
  height: 496px;
  width: 100%;
  background-color: #6729ff;
}

#container5-text {
  margin: auto;
  width: 641px;
  font-family: "outfit";
  font-weight: 500;
  font-size: 96px;
  line-height: 105.6px;
  color: #fff;
  margin-bottom: 20px;
}
#container5-link {
  background-color: #6729ff;
  padding: 12px 32px;
  gap: 8px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-family: "poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid transparent;
}

#container5-link:hover{
  transition: 1s;
  color: #6729ff;
  background-color: #eee5ff;
  border-color: #6729ff;
}

/* #footer */
#footer {
  margin-top: 40px;
  height: 289px;
  width: 100%;
}

#footer-text {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  height: 156px;
  width: 1216px;
}

#footer-links {
  display: flex;
  justify-content: space-between;
  height: 156px;
  width: 800px;
}

.footer-div {
  display: inline;
  gap: 24px;
}
.footer-div ul {
  padding: 0;
}
.footer-div li {
  margin-top: 20px;
  list-style: none;
  align-items: left;
}

.footer-div h5 {
  font-family: "outfit";
  font-size: 16px;
  line-height: 20.16px;
  font-weight: 500;
  color: #64748b;
  margin: 0;
  margin-bottom: 24px;
}

.footer-links-div {
  display: block;
  gap: 20px;
}

.footer-links-div a {
  text-decoration: none;
  height: 24px;
  font-family: "poppins";
  font-weight: 400;
  color: #94a3b8;
  font-size: 16px;
  line-height: 24px;
  line-break: strict;
}
#footer-newslatter {
  gap: 8px;
  width: 280px;
  max-height: 156px;
}

#footer-newslatter h5 {
  font-family: "outfit";
  font-size: 16px;
  line-height: 20.16px;
  font-weight: 500;
  color: #64748b;
  margin: 0;
}

#footer-newslatter p {
  font-family: "poppins";
  font-weight: 400;
  color: #94a3b8;
  font-size: 12px;
  line-height: 18px;
}

#footer-email {
  display: inline-flex;
  justify-content: space-between;
  padding: 4px 4px 4px 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  align-content: center;
  max-height: 40px;
  max-width: 280px;
}

#footer-email input {
  /* background-color: transparent; */
  border-radius: 8px;
  font-family: "poppins";
  font-weight: 400;
  color: #94a3b8;
  font-size: 14px;
  line-height: 21px;
  width: 230px;
  padding: 0;
  border: none;
  outline: none;
}

#footer-email-submit {
  background-image: url(../img/icons/arrow-right1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6729ff;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  border: none;
}

#newsletter-links {
  margin-top: 12px;
  height: 24px;
  gap: 24px;
  display: inline-flex;
}

.newsletter-link {
  height: 24px;
  width: 24px;
}

#footer-facebook {
  background-image: url(../img/icons/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
}

#footer-twiter {
  background-image: url(../img/icons/twiter.png);
  background-repeat: no-repeat;
  background-position: center;
}

#footer-linkedin {
  background-image: url(../img/icons/linkedin.png);
  background-repeat: no-repeat;
  background-position: center;
}

#footer-instagram {
  background-image: url(../img/icons/instagram.png);
  background-repeat: no-repeat;
  background-position: center;
}

#footer-base {
  border-top: 1px solid #e2e8f0;
  padding: 24px 64px 0px 64px;
  margin: 0;
  margin-top: 84px;
  align-items: center;
  align-content: end;
  display: flex;
  flex-flow: wrap;
  height: 30px;
  justify-content: space-between;
}

#footer-rights {
  font-family: "poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #94a3b8;
}

#footer-logo a {
  text-decoration: none;
  font-weight: 700;
  margin: 0;
  font-family: "outfit", sans-serif;
  color: #6729ff;
  font-size: 24px;
  line-height: 24px;
}

#footer-use {
  display: inline-flex;
  justify-content: space-between;
  gap: 78px;
}

#footer-use a {
  text-decoration: none;
  font-family: "poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #94a3b8;
}